vti_encoding:SR|utf8-nl
images/home_norm.jpg:knopki.htm
/cgi-bin/testcgi.pl:testform.htm
/cgi-bin/random.cgi:1.htm
/cgi-bin/hellocgi.pl:test.htm
flash/best.swf:home.htm
cgi-bin/request.cgi:mail.htm
http\://www.dynamicstate.com:test.htm
http\://www.brainbench.com/images/certlogo/color/cert/htmlprogrammer.gif:cv.htm
flash/cv.swf:home.htm
/d\:/project 01/images\\border_2_2.jpg:cv.htm faces.htm index.htm mail.htm home.htm best.htm
http\://www.brainbench.com/images/certlogo/color/cert/perlprogrammer.gif:cv.htm
images/faces_norm.jpg:knopki.htm
images/me_norm.jpg:knopki.htm
flash/home.htm:flash/palace.html
flash/cv.htm:flash/cv.html
http\://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab:flash/cv.html flash/best.html flash/julie.html flash/palace.html flash/faces.html flash/mail.html home.htm flash/marka\\ vector.html
/d\:/project 01/images\\border_2_0.jpg:cv.htm faces.htm index.htm mail.htm home.htm best.htm
/d\:/project 01/images\\border_0_2.jpg:cv.htm faces.htm index.htm mail.htm home.htm best.htm
mwman.htm:test.htm
flash/faces.swf:home.htm
http\://julie-bowen.narod.ru:cv.htm faces.htm knopki.htm mail.htm index.htm best.htm
flash/faces.htm:flash/faces.html
cgi-bin/mailcgi.exe:test.htm
images/jb_norm.jpg:knopki.htm
clsid\:d27cdb6e-ae6d-11cf-96b8-444553540000:flash/cv.html flash/best.html flash/julie.html flash/palace.html flash/faces.html flash/mail.html home.htm flash/marka\\ vector.html
http\://julie-bowen.narod.ru/:flash/julie.html
/cgi-bin/cgisamp.pl:test.htm
flash/mail.swf:home.htm
images/mail_norm.jpg:knopki.htm
flash/mail.htm:flash/mail.html
/cgi-bin/testcgi.exe:testform.htm
/d\:/project 01/images\\border_0_0.jpg:home.htm best.htm
flash/palace.swf:home.htm
flash/julie.swf:home.htm
images/cv_norm.jpg:knopki.htm
flash/best.htm:flash/best.html
/cgi-bin//testcgi.exe:testform.htm
